<!DOCTYPE html >
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Share your bookmarks with friends, <%= @user.name %></h1>
    <p>It's as easy as....uh let me think about it</p>
    <p>I probably need a link here somewhere <%= @url %></p>
    <p> Thanks,</p> 
    <p>Sir Albert Blocmark </p>
    <p>Founder, BlocMark Inc.</p>
  </body>
</html>
