<h1>All Blocmarks</h1>
<% @topics.each do |topic| %>

<div class="col-md-4">
  <%= link_to topic.title, topic %>
</div>
<% end %>

<div class="">
  <button type="button" class="btn btn-default">
    <%= link_to "Create a topic", new_topic_path %>
  </button>
</div>

