<h1>All Blocmarks</h1>

<% @topics.each do |topic| %>
  <div class="col-md-12">
    <%= link_to topic.title, topic %>
  </div>

  <% topic.bookmarks.take(3).each do |bookmark| %>
  
    <p><%= bookmark.url %></p>
    <p><%= image_tag("bookmark.png") %>
  <% end %>
<% end %>

<div class="">
  <button type="button" class="btn btn-default">
    <%= link_to "Create a topic", new_topic_path %>
  </button>
</div>

