<h1>All Blocmarks</h1>

<div class="create_topic">
  <%= button_to "Create a topic", new_topic_path, method: :get, class: "btn btn-success" %>
</div>

<% @topics.each do |topic| %>
  <div class="topic_row">
    <h3><%= link_to topic.title, topic %></h3>
    <div class="row">
      <% topic.bookmarks.take(4).each do |bookmark| %>
        <div class="col-md-3">
          <div>
            <%= bookmark.url %>
          </div>
            <img src="<%= display(bookmark.url) %>" style="width:200px;"></img>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

