<h1><%= @topic.title %></h1>

<% @bookmarks.each do |bookmark| %>
<p><%= link_to bookmark.url, [@topic, bookmark] %></p>
<% end %>

<div class="">
  <button type="button" class="btn btn-default">
    <%= link_to "Create a bookmark", new_topic_bookmark_path(@topic) %>
  </button>
</div>

<%= link_to "Delete Topic", [@topic], method: :delete, class: 'btn btn-dnager', data: { confirm: 'Are you sure you want to delete this post?'} %>